* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C4E72;
}

.header {
    width: 100%;
    height: 90px;
    position: relative;
    display: inline-block;
}

.header input {
    float: right;
    height: 100%;
    width: auto;
}

nav {
    width: 100%;
    height: 100%;
    background-color: white;
}

nav img {
    width: 200px;
    height: auto;
    float: left;
    padding: 10px 40px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li:hover {
    background-color: #f3f3f3;
}

nav ul li a {
    display: block;
    font-family: "Dubai";
    color: #222;
    font-size: 24px;
    padding: 24px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    width: 250px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 12px 14px;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
}

/* Buttons */
#welcome-screen {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

#welcome-screen input {
    width: 30%;
    height: auto;
    display: inline-block;
    transition: all 60ms ease;
}

#welcome-screen input:hover {
    transform: scale(1.05)
}

#opening {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 48px;
    font-family: Dubai;
    color: white;
}

/*
LOGIN PAGE
 */

.login-page {
    width: 35%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-page label {
    display: inline-block;
    width: 90%;
    padding: 12px;
    box-sizing: border-box;
    font-family: "Dubai";
    font-size: 24px;

}

.login-page input {
    display: inline-block;
    width: 90%;
    padding: 12px 20px;
    margin: 15px;
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-page button {
    background-color: brown;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    width: 40%;
}

.login-page button:hover {
    opacity: 0.8;
}

.login-page p {
    margin-left: 50%;
    font-family: "Dubai";
    font-size: 18px;
}

#login-logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}

#shop-container {
    width: 97%;
    height: 120%;
    display: block;
    background-color: white;
    margin: 24px;
    border-radius: 10px;
}

#shop-container h1 {
    text-align: center;
    font-family: Dubai;
    font-size: 48px;
}

#shop-container button {
    float: right;
    width: 300px;
    height: 80px;
    margin-right: 5%;
    font-size: 18px;
    font-family: Dubai;
    background-color: brown;
    margin-top: 1%;
}

#total {
    float: right;
    font-size: 34px;
    font-family: Dubai;
    margin-top: 2%;
    padding-right: 5%;
}

/*
Items
 */
.item-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    margin-left: 270px;
}

.item-grid > div {
    text-align: center;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 20px;
}
.item-grid div input {
    width: auto;
    height: 70%;
}
.item-grid div p {
    font-size: 20px;
    margin-top: 10%;
    font-family: Dubai;
}

@media only screen and (max-width: 400px) {
    .item1 { grid-area: 1 / span 3 / 2 / 4; }
    .item2 { grid-area: 3 / 3 / 4 / 4; }
    .item3 { grid-area: 2 / 1 / 3 / 2; }
    .item4 { grid-area: 2 / 2 / span 2 / 3; }
    .item5 { grid-area: 3 / 1 / 4 / 2; }
    .item6 { grid-area: 2 / 3 / 3 / 4; }
}

/*
Staff stuff
 */
#staff-container {
    width: 97%;
    height: auto;
    display: block;
    background-color: white;
    margin: 24px;
    border-radius: 10px;
}

#staff-container h1 {
    text-align: center;
    font-family: Dubai;
    font-size: 48px;
}
#staff-container h2 {
    font-family: Dubai;
    font-size: 28px;
    padding: 30px;
}

#staff-container h3 {
    font-family: Dubai;
    font-size: 28px;
}

#staff-container ul {
    padding-bottom: 50px;
}

#staff-container ul li {
    list-style: none;
    margin-left: 5%;
}

#staff-container p {
    font-family: Dubai;
    font-size: 16px;
}

#staff-container button {
    font-family: Dubai;
    font-size: 18px;
    width: 10%;
    height: 4%;
    margin: 10px;
    color: white;
}

#staff-container button:hover {
    opacity: 0.8;
}

#staff-container p.pos {
    text-align: center;
    font-size: 18px;
    font-family: Dubai;
}

#staff-container h4 {
    font-size: 20px;
    font-family: Dubai;
}

#staff-container .edit-b {
    font-family: Dubai;
    font-size: 18px;
    width: 5%;
    height: 3%;
    color: white;
    margin: 0;
}